* {
	font-family: 'Helvetica';
	text-align: center;
}

h1 {
	font-family: 'Unica One';
	font-size: 70px;
}

img {
	margin-top: 20px;
	max-width: 400px
}

input {
	text-align: left;
}

#firstLabel {
	font-size: 20px;
	padding-top: 20px;
}

#riddleAnswer {
	text-align: center;
	width: 40px;
}

#button {
	padding: 7px 7px 7px 7px;
	background-color: #8ae6be;
	color: #734911;
	border: none;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 3px;
}

#button:hover {
	/*background-color: #56c092;
	background-color: #8aefae;*/
	background: linear-gradient(90deg, #8aef88, #8ae6be);
	color: #734911;
	cursor: pointer;
}

#content {
	width: 70%;
	margin: auto;
	background-color: #fff;
	padding: 10px 5px 0 10px;
	color: #734911;
}

#header {
	margin: auto;
	background: linear-gradient(90deg, #9a6a2e, #9a6b2e 35%);
	padding: 10px 20px 10px 20px;
	/*color: #C09256;*/
	color: #E6BE8A;
	color: #8ae6be;
	/*color: #56c092;*/
}

#feedback {
	margin-top: 10px;
	font-family: 'Comfortaa';
}

.riddleFail {
    color: red;
}

.inputFail {
    border: 2px solid red;
}

.section {
	padding: 20px 0 20px 0;
}
